<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qianfeng.mapper.ProductMapper">
	<select id="selectProducts" resultMap="productList">
		SELECT * FROM product
	</select>
	<resultMap type="com.qianfeng.pojo.po.Product" id="productList">
		<id column="productId" property="productId" />
		<result column="productName" property="productName"/>
		<result column="quantity" property="quantity"/>
	</resultMap>
	
	<select id="selectProductById" parameterType="Integer" resultType="com.qianfeng.pojo.po.Product">
		SELECT * FROM product WHERE productId=#{productId}
	</select>
</mapper>